.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 2rem;
}

.nav-list {
	display: flex;
	padding: 0 2rem 0 2rem;
	flex-direction: row;
	gap: 2rem;
	list-style: none;
	list-style-type: none;
	align-items: center; 
	background-color: #3dc9ec;;
	border-radius: 8px;
} 

.nav-list .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

.nav-list > a { 
	line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
	border-radius: 8px;
} 

a:nth-child(1):hover { 
	width: 100px;
	background-color: #1abc9c;
} 

.shop:hover { 
	width: 100px;
	background-color: #1abc9c;
}





