.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	list-style: none;
} 

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:hover {
	display: block;
}

.dropdown:hover > .dropContent {
  display: block;
}

.dropdown:hover .dropdownBtn {
	background-color: #3e8e41;
}

.dropContent {
	display: none;
	/*position: absolute;*/
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}


