.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 2rem;
}

.nav-list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	list-style: none;
	list-style-type: none;
	align-items: center; 
	background-color: #3dc9ec;;
	border-radius: 8px;
	padding-left:0;
	justify-content: center;
} 

.nav-list .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

.nav-list > a { 
	line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
	border-radius: 8px;
	width: 80px;
} 

.home:hover { 
	color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(61, 201, 236, 0.7)
} 

.shop:hover { 
	color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(61, 201, 236, 0.7)
}





