.book-container { 
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.book { 
  display: flex; 
  flex-direction: column;
  width: 15vh;
  height: 40vh;
}

.bookCover { 
  max-width: 128px;
  max-height: 200px;
}