@font-face {
  font-family: "Roboto";
  src: url(./Fonts/Roboto/Roboto-Regular.ttf);
}

html, body, .container, #root { 
  width: 100%;
  height: 100%; 
  margin: 0;
  background-color: #2dafd1;
  cursor: pointer;
} 

.container { 
  display: grid;  
  grid-template-rows: 1fr 10fr 1fr; 
}

footer { 
  display: flex;
  justify-content: center;
  align-items: center;
}
