html, body, .container, #root { 
  width: 100%;
  height: 100%; 
  margin: 0;
  background-color: rgb(120, 255, 255);
} 

.container { 
  display: grid;  
  grid-template-rows: 1fr 10fr 1fr; 
}

footer { 
  display: flex;
  justify-content: center;
  align-items: center;
}